---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="x7vuDeWopTLRJcJvhFdhaPeKQRvrgbHYBfRZt9AA",
        oauth_signature="And4q42561bHWuiXp1RRUkH5smc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344919313", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web30, wsgi, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: US-ASCII
      string: ! '{"region":{"span":{"latitude_delta":0.060299470000003907,"longitude_delta":0.10234119491968841},"center":{"latitude":37.778436849999999,"longitude":-122.43515817503649}},"total":4520,"businesses":[{"is_claimed":true,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/gary-danko-san-francisco","rating_img_url":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png","review_count":3044,"name":"Gary
        Danko","snippet_image_url":"http://s3-media4.ak.yelpcdn.com/photo/k9ypeKMi5HBii38JhuYp1g/ms.jpg","rating_img_url_small":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png","url":"http://www.yelp.com/biz/gary-danko-san-francisco","phone":"4157492060","snippet_text":"My
        bf took me hear to celebrate my birthday and I loved it! The food was beyond
        amazing. The staff (David was our server) was friendly, accomodating and...","image_url":"http://s3-media2.ak.yelpcdn.com/bphoto/lansxaYjxNSWAEuDSUl-NA/ms.jpg","categories":[["American
        (New)","newamerican"]],"display_phone":"+1-415-749-2060","rating_img_url_large":"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png","id":"gary-danko-san-francisco","is_closed":false,"location":{"city":"San
        Francisco","display_address":["800 N Point St","Fisherman''s Wharf","San Francisco,
        CA 94109"],"geo_accuracy":8,"neighborhoods":["Fisherman''s Wharf"],"postal_code":"94109","country_code":"US","address":["800
        N Point St"],"coordinate":{"latitude":37.805845699999999,"longitude":-122.4205645},"state_code":"CA"}},{"is_claimed":false,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/the-house-san-francisco","rating_img_url":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png","review_count":2243,"name":"The
        House","snippet_image_url":"http://s3-media1.ak.yelpcdn.com/photo/cfXfHw9dVkgAmFtGL81fJA/ms.jpg","rating_img_url_small":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png","url":"http://www.yelp.com/biz/the-house-san-francisco","phone":"4159868612","snippet_text":"Thank
        you Yelpers, all your reviews are great and so true!\n\nThe House was amazing.
        Although it is small, they have a small selection but a very good...","image_url":"http://s3-media1.ak.yelpcdn.com/bphoto/Qo-eoz8T9K0FqmEcEOndrA/ms.jpg","categories":[["Asian
        Fusion","asianfusion"],["American (New)","newamerican"]],"display_phone":"+1-415-986-8612","rating_img_url_large":"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png","id":"the-house-san-francisco","is_closed":false,"location":{"cross_streets":"Broadway
        St","city":"San Francisco","display_address":["1230 Grant Ave","(b/t Broadway
        St)","North Beach/Telegraph Hill","San Francisco, CA 94133"],"geo_accuracy":8,"neighborhoods":["North
        Beach/Telegraph Hill"],"postal_code":"94133","country_code":"US","address":["1230
        Grant Ave"],"coordinate":{"latitude":37.798427799999999,"longitude":-122.4071081},"state_code":"CA"}},{"is_claimed":true,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/la-folie-san-francisco","r[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="D9E1gDsZsKGeO6fBZrwmDES99DPF8arwqyrceYl4bSQ",
        oauth_signature="nbNrz40hyjSTXIJzT5gJXD4SL8Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344919314", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSA[...]
