--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="taZrF762N4AbsTypjy8MD7TnLRSjSAln98Wcok988U", oauth_signature="59hiNPL51oeMvtlKuIrYsCoRSPo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345524815", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web37, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 04:53:35 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.788022,-122.399797
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="S1xUzHHoOc6nzZ5MeRmYOzh68NpJY2SBo5QRN9M9Lo", oauth_signature="3hGMnxUdEf%2FhbQVxmfuujyBdvT0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345524815", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web1, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 04:53:35 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?location=Castro,%20San%20Francisco
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="HilCO19ayKX9jIRkt4yEm1CBQdY8zgYBDzPBHjV33uk", oauth_signature="%2BlNLme%2BLrXe9JqRkSzG9PmlkBUI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345524815", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web29, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 04:53:35 GMT
recorded_with: VCR 2.2.4
