--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="8kUXjcNsUOfJTXHAxTsSa2c6ZIOW3tgT4pZj6npY", oauth_signature="1b60BHZZv%2Fs8NJwxpTKl1AZebFc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574317", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - web36, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"region\":{\"span\":{\"latitude_delta\":0.11197800000000058,\"longitude_delta\":0.10020299999999338},\"center\":{\"latitude\":37.844010999999995,\"longitude\":-122.4498985}},\"total\":1183,\"businesses\":[{\"is_claimed\":true,\"rating\":4.5,\"mobile_url\":\"http://m.yelp.com/biz/gary-danko-san-francisco\",\"rating_img_url\":\"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png\",\"review_count\":3049,\"name\":\"Gary Danko\",\"snippet_image_url\":\"http://s3-media3.ak.yelpcdn.com/photo/KcsLqng6gGFUNldKU2MLtw/ms.jpg\",\"rating_img_url_small\":\"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png\",\"url\":\"http://www.yelp.com/biz/gary-danko-san-francisco\",\"phone\":\"4157492060\",\"snippet_text\":\"I've been here at least a dozen times...and I've never had a less than perfect experience here.  They are the top restaurant on yelp and it is so easy to...\",\"image_url\":\"http://s3-media2.ak.yelpcdn.com/bphoto/lansxaYjxNSWAEuDSUl-NA/ms.jpg\",\"categories\":[[\"American (New)\",\"newamerican\"]],\"display_phone\":\"+1-415-749-2060\",\"rating_img_url_large\":\"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png\",\"id\":\"gary-danko-san-francisco\",\"is_closed\":false,\"location\":{\"city\":\"San Francisco\",\"display_address\":[\"800 N Point St\",\"Fisherman's Wharf\",\"San Francisco, CA 94109\"],\"geo_accuracy\":8,\"neighborhoods\":[\"Fisherman's Wharf\"],\"postal_code\":\"94109\",\"country_code\":\"US\",\"address\":[\"800 N Point St\"],\"coordinate\":{\"latitude\":37.805845699999999,\"longitude\":-122.4205645},\"state_code\":\"CA\"}},{\"is_claimed\":true,\"rating\":4.5,\"mobile_url\":\"http://m.yelp.com/biz/la-folie-san-francisco\",\"rating_img_url\":\"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png\",\"review_count\":855,\"name\":\"La Folie\",\"snippet_image_url\":\"http://s3-media3.ak.yelpcdn.com/photo/B1n-_wVALfpmEWZdQtBAkg/ms.jpg\",\"rating_img_url_small\":\"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png\",\"url\":\"http://www.yelp.com/biz/la-folie-san-francisco\",\"phone\":\"4157765577\",\"snippet_text\":\"No better place to celebrate my parent's 25th anniversary than here. \\n\\nQuaint little place on Polk Street with a romantic setting. I swear, everyone was...\",\"image_url\":\"http://s3-media1.ak.yelpcdn.com/bphoto/y-k7XjdUoYoXOSk22rYQzg/ms.jpg\",\"categories\":[[\"French\",\"french\"]],\"display_phone\":\"+1-415-776-5577\",\"rating_img_url_large\":\"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png\",\"id\":\"la-folie-san-francisco\",\"is_closed\":false,\"location\":{\"cross_streets\":\"Green St & Union St\",\"city\":\"San Francisco\",\"display_address\":[\"2316 Polk St\",\"(b/t Green St & Union St)\",\"Russian Hill\",\"San Francisco, CA 94109\"],\"geo_accuracy\":8,\"neighborhoods\":[\"Russian Hill\",\"Nob Hill\"],\"postal_code\":\"94109\",\"country_code\":\"US\",\"address\":[\"2316 Polk St\"],\"coordinate\":{\"latitude\":37.7974192,\"longitude\":-122.4221977},\"state_code\":\"CA\"}},{\"is_claimed\":false,\"rating\":4.5,\"mobile_url\":\"http://m.yelp.com/biz/the-house-san-fra[...]
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.788022,-122.399797
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="gKpLqD9ClR1zpivRgUoAMw259H5bt57S7ke9Z55jcA", oauth_signature="kWfk8RjvlkYwyyuFyyao5bKPqCA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574318", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - web34, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"region\":{\"span\":{\"latitude_delta\":0.0032288300000118397,\"longitude_delta\":0.0079834699999992154},\"center\":{\"latitude\":37.78857335,\"longitude\":-122.40001445}},\"total\":10530,\"businesses\":[{\"is_claimed\":false,\"distance\":119.99597472341455,\"mobile_url\":\"http://m.yelp.com/biz/the-economist-san-francisco\",\"rating_img_url\":\"http://s3-media3.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/stars_5.png\",\"review_count\":41,\"name\":\"The Economist\",\"snippet_image_url\":\"http://s3-media4.ak.yelpcdn.com/photo/VZp1NNLKUA2DnQ5j60RKsg/ms.jpg\",\"rating\":5.0,\"url\":\"http://www.yelp.com/biz/the-economist-san-francisco\",\"location\":{\"cross_streets\":\"Aldrich Aly & Mission St\",\"city\":\"San Francisco[...]
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?location=Castro,%20San%20Francisco
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="4osiCOlcqZFkGkosroCeQIzCxBxWbQjnlioePLSqidU", oauth_signature="hvteRXaONpqVwHUNCvFed2PAaTQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574318", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX", oauth_version="1.0"
  respo[...]
