--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="DrW5plfHSryvTkcILae0KdkhizDegCfrjdGOkuDV4", oauth_signature="3jwfO6QC8dyRwY2RuPVTcCR44ts%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345573489", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web35, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:24:49 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.788022,-122.399797
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="Pdq5cSh1bSWXQm9oiu6auYCDl2nzm2EC6WD5gYQCFQ", oauth_signature="sXBFP52mW7ZEkaTKqV6XK9BGbHg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345573489", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web35, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:24:49 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?location=Castro,%20San%20Francisco
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="NbfM2bJiwweHCwe5BoKUWx5Ke7XqjhVirjHafcIqBe8", oauth_signature="qZV3iDjtRbgjNH1QAGoXFHKslqk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345573489", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web33, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:24:49 GMT
recorded_with: VCR 2.2.4
