--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="8QUq8KekoxY4xHLeGnPbyU1dx5o6iF8MjVTjDuQ7is", oauth_signature="uA%2FdpuVMkB2QuDbaBAwdpnIxsKI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574070", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web38, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:34:30 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.788022,-122.399797
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="iPMg8PGk1xCOSa0xspV6hEfEANCole8h3Ul2f5gL34", oauth_signature="lNE4DNhUljF%2FY7Ax6voqoEajlkc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574070", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web40, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:34:30 GMT
- request: 
    method: get
    uri: http://api.yelp.com/v2/search?location=Castro,%20San%20Francisco
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="kzeFyuqJppsjsjNS5DCPlRYpNzLUtrQ4M3GhLqYgmU", oauth_signature="5aeaG%2Fu67W8crPsa%2FRN4TW0c1G8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1345574070", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Node: 
      - web39, wsgi, api_com
      Content-Type: 
      - application/json; charset=UTF-8
      X-Mode: 
      - rw
      X-Proxied: 
      - lb1
    body: 
      encoding: US-ASCII
      string: "{\"error\":{\"text\":\"One or more parameters are missing in request\",\"id\":\"MISSING_PARAMETER\",\"field\":\"oauth_consumer_key\"}}"
  recorded_at: Tue, 21 Aug 2012 18:34:30 GMT
recorded_with: VCR 2.2.4
