---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="pkI76sSNCjBo3kGZwDbQdQgiDAVwhRYOFg3KnOFLP4",
        oauth_signature="4t7cMAmhbr8Rqe3ewd0FhG4PiJo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344988531", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web27, wsgi, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: US-ASCII
      string: ! '{"region":{"span":{"latitude_delta":0.050131069999991951,"longitude_delta":0.10234119491968841},"center":{"latitude":37.783058850000003,"longitude":-122.43515817503649}},"total":4445,"businesses":[{"is_claimed":true,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/gary-danko-san-francisco","rating_img_url":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png","review_count":3045,"name":"Gary
        Danko","snippet_image_url":"http://s3-media4.ak.yelpcdn.com/photo/k9ypeKMi5HBii38JhuYp1g/ms.jpg","rating_img_url_small":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png","url":"http://www.yelp.com/biz/gary-danko-san-francisco","phone":"4157492060","snippet_text":"My
        bf took me hear to celebrate my birthday and I loved it! The food was beyond
        amazing. The staff (David was our server) was friendly, accomodating and...","image_url":"http://s3-media2.ak.yelpcdn.com/bphoto/lansxaYjxNSWAEuDSUl-NA/ms.jpg","categories":[["American
        (New)","newamerican"]],"display_phone":"+1-415-749-2060","rating_img_url_large":"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png","id":"gary-danko-san-francisco","is_closed":false,"location":{"city":"San
        Francisco","display_address":["800 N Point St","Fisherman''s Wharf","San Francisco,
        CA 94109"],"geo_accuracy":8,"neighborhoods":["Fisherman''s Wharf"],"postal_code":"94109","country_code":"US","address":["800
        N Point St"],"coordinate":{"latitude":37.805845699999999,"longitude":-122.4205645},"state_code":"CA"}},{"is_claimed":true,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/la-folie-san-francisco","rating_img_url":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/stars_4_half.png","review_count":848,"name":"La
        Folie","snippet_image_url":"http://s3-media3.ak.yelpcdn.com/photo/iHyXGcKKmTPWAqr2I4gV1w/ms.jpg","rating_img_url_small":"http://s3-media4.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/stars_small_4_half.png","url":"http://www.yelp.com/biz/la-folie-san-francisco","phone":"4157765577","snippet_text":"Pretty
        Amazing food.  A french foodies dream.\n\nI started with the lobster corn
        soup.  This was probably my favorite dish.  The lobster had a great smoky...","image_url":"http://s3-media1.ak.yelpcdn.com/bphoto/y-k7XjdUoYoXOSk22rYQzg/ms.jpg","categories":[["French","french"]],"display_phone":"+1-415-776-5577","rating_img_url_large":"http://s3-media2.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/stars_large_4_half.png","id":"la-folie-san-francisco","is_closed":false,"location":{"cross_streets":"Green
        St & Union St","city":"San Francisco","display_address":["2316 Polk St","(b/t
        Green St & Union St)","Russian Hill","San Francisco, CA 94109"],"geo_accuracy":8,"neighborhoods":["Russian
        Hill","Nob Hill"],"postal_code":"94109","country_code":"US","address":["2316
        Polk St"],"coordinate":{"latitude":37.7974192,"longitude":-122.4221977},"state_code":"CA"}},{"is_claimed":false,"rating":4.5,"mobile_url":"http://m.yelp.com/biz/the-house-san-francisco","rating_img_u[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.9,-122.5%7C37.788022,-122.399797&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="sVWL0axxeUFzYPwRbVU2NswiIezGe9f8BGopHa7o",
        oauth_signature="cOqO4OjQAK56wY4NotoscCr%2FAhw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344988531", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAO[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.788022,-122.399797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="SmTuAorOGrlB8A7zcktmCY2Ep01NNqFaUhyGXQQJDE",
        oauth_signature="CcBLlGqMrWFvSsPisPjjVcEJNC0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344988531", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXPwX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web41, wsgi, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: US-ASCII
      string: ! '{"region":{"span":{"latitude_delta":0.0032288300000118397,"longitude_delta":0.0079834699999992154},"center":{"latitude":37.78857335,"longitude":-122.40001445}},"total":10495,"businesses":[{"is_claimed":false,"distance":119.99597472341455,"mobile_url":"http://m.yelp.com/biz/the-economist-san-francisco","rating_img_url":"http://s3-media3.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/stars_5.png","review_count":41,"name":"The
        Economist","snippet_image_url":"http://s3-media4.ak.yelpcdn.com/photo/VZp1NNLKUA2DnQ5j60RKsg/ms.jpg","rating":5.0,"url":"http://www.yelp.com/biz/the-economist-san-francisco","location":{"cross_streets":"Aldrich
        Aly & Mission St","city":"San Francisco","display_address":["90 New Montgomery
        St","(b/t Aldrich Aly & Mission St)","SOMA","San Francisco, CA 94105"],"geo_accuracy":8,"neighborhoods":["SOMA"],"postal_code":"94105","country_code":"US","address":["90
        New Montgomery St"],"coordinate":{"latitude":37.787421999999999,"longitude":-122.400932},"state_code":"CA"},"phone":"4152780880","snippet_text":"The
        Economist:\nSuperb in almost every respect. Also available on iPad with paid
        subscription!\nThis is my favorite magazine.  It is not, as the title...","image_url":"http://s3-media4.ak.yelpcdn.com/bphoto/9hRCCf7B-dja-bI0wKjhfQ/ms.jpg","categories":[["Print
        Media","printmedia"]],"display_phone":"+1-415-278-0880","rating_img_url_large":"http://s3-media1.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/stars_large_5.png","id":"the-economist-san-francisco","is_closed":false,"rating_img_ur[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?cll=37.7627,122.4352&location=Castro,%20San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zeUN39MhQwBCAON4gsji-g", oauth_nonce="bJkj2C2Toflz9gnRhYAb4ESTfB9Z43z1K2hg8XBUmw",
        oauth_signature="py0KjUXHi2xIzmRYgoYcDcQnJLo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1344988532", oauth_token="7RIJttUGVq6-OD3mvqXbFWjSAOICXP[...]
